.super-mario {
    width: 200px;
    position: absolute;
    z-index: 2;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 1;
    top: 320px;
    left: 200px;

  }
  
  .baloon {
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 280px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 3;
    top: 150px;
    left: 300px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 2;
    top: 260px;
    left: 580px;
  }

  /* 1 - Posicione o Mário acima do Goomba.
2 - Posicione a tag p para que fique dentro do balão de fala.
3 - Posicione o balão para que se torne uma fala de Bowser. */