.super-mario {
    width: 200px;
    position: absolute;
    z-index: 2;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 1;
    top: 400px;
    left: 60px;

  }
  
  .baloon {
    position: absolute;
    z-index: 1;
    top: 600px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 3;
    top: 650px;
    left: 35px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 4;
    top: 750px;
    left: 300px;
  }

  /* 1 - Posicione o Mário acima do Goomba.
2 - Posicione a tag p para que fique dentro do balão de fala.
3 - Posicione o balão para que se torne uma fala de Bowser. */